import ./table.jade

mixin button
  +table-row-column(align="center").padding-copy
    +table-row-column(align=attributes.align || "center")
      a&attributes(attributes).mobile-button.button
        block
