import ./table.jade
import ./blocks.jade

mixin button
  +table-row-column(align="center")
    +table-row-column(align=attributes.align || "center")
      +link&attributes(attributes).button
        block
