
mixin rows
  table(border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table")
    block
    
mixin row
  tr
    td
      block
      
mixin columns
  table(cellspacing="0" cellpadding="0" border="0" width="100%")&attributes(attributes)
    tr
      td(valign="top" style="padding: 0;" class="mobile-wrapper")
        block

mixin column(align)
  table(cellpadding="0" cellspacing="0" border="0" width="47%" align="left" class="responsive-table")
    tr
      td(align=align)
        block
